.datePicker{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.datePicker > div{
  border-color: rgba(137, 156, 177, 1);
}
.datePicker span{
  color: rgba(137, 156, 177, 1);
}
.datePicker input::placeholder{
  color: rgba(137, 156, 177, 1) !important;
}
